.passwordBox {
  width: 100%;
  max-width: 1024px;
  margin: 2rem auto 3rem;
  overflow: hidden;
  background: #fff;
  padding-bottom: 6rem;
}
.forgetPassword {
  overflow: hidden;
  margin: 5rem auto 0;
  width: 700px;
  position: relative;
}
.forgetPassword > div {
  display: none;
}
.forgetPassword .headUl {
  font-size: 18px;
  overflow: hidden;
  margin-bottom: 80px;
}
.forgetPassword .headUl li {
  float: left;
  margin-right: 188px;
  color: #dee3e6;
  position: relative;
  width: 108px;
  text-align: center;
}
.forgetPassword .headUl li span {
  color: #4d5862;
  display: block;
  font-size: 16px;
  height: 16px;
  line-height: 16px;
  margin-bottom: 14px;
}
.forgetPassword .headUl li i {
  width: 108px;
  height: 108px;
  display: block;
  overflow: hidden;
}
.forgetPassword .headUl li:after {
  content: "";
  position: absolute;
  width: 110px;
  height: 5px;
  bottom: 50px;
  left: 150px;
  background: url(../images/forgetPasswordli1.png) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}
.forgetPassword .headUl li:nth-child(2):after {
  background: url(../images/forgetPasswordli2.png) no-repeat;
}
.forgetPassword .headUl li:last-child {
  margin-right: 0px;
}
.forgetPassword .headUl li:last-child:after {
  display: none;
}
.forgetPassword .headUl li:nth-child(1) i {
  background: url(../images/forgetPassword1.png) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}
.forgetPassword .headUl li:nth-child(2) i {
  background: url(../images/forgetPassword2.png) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}
.forgetPassword .headUl li:nth-child(3) i {
  background: url(../images/forgetPassword3.png) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}
.forgetPassword .headUl .forgetPasswordOn span {
  color: #2e9fe2;
}
.forgetPassword .headUl .forgetPasswordOn:nth-child(1) i {
  background: url(../images/forgetPassword1h.png) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}
.forgetPassword .headUl .forgetPasswordOn:nth-child(2) i {
  background: url(../images/forgetPassword2h.png) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}
.Verification .boxWidth:nth-child(2) {
  margin-bottom: 44px;
}
.Verification .boxWidth:nth-child(3) {
  margin-bottom: 38px;
}
.Verification .boxWidth:nth-child(4) {
  margin-bottom: 0px;
}
.boxWidth {
  overflow: hidden;
  margin-bottom: 28px;
}
.boxWidth p {
  width: 190px;
  font-size: 18px;
  color: #333;
  height: 44px;
  line-height: 44px;
  float: left;
  text-align: right;
}
.boxWidthDiv {
  float: left;
  margin-left: 20px;
  margin-right: 8px;
}
.forgetPassword .boxWidth .boxWidthDiv input {
  height: 44px;
  background: #f8f8f8;
  border-color: #c6c6c6;
  font-size: 16px;
  color: #333;
}
.forgetPassword .boxWidth .boxWidthDiv input:hover {
  border: 1px solid #2e9fe2;
}
.boxWidth .boxWidthDiv i {
  top: 13px;
}
.boxWidth .width414 {
  width: 414px;
}
.boxWidth .windth308 {
  width: 308px;
}
.boxWidth .send {
  width: 98px;
  height: 44px;
  color: #f4675d;
  font-size: 14px;
  border-radius: 5%;
  border: 1px solid #c6c6c6;
  background: #fff;
}
.next {
  width: 100%;
  height: 4.4rem;
  line-height: 4.4rem;
  font-size: 2rem;
  color: #fff;
  background: #f4675d;
  text-align: center;
  border-radius: 4px;
}
/*找回成功*/
.success {
  text-align: center;
}
.success .successBox {
  text-align: center;
  margin: 3rem 0 6rem;
}
.success h2 {
  color: #333;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: normal;
  margin-bottom: 1.6rem;
}
.success h3 {
  color: #999;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: normal;
  margin-bottom: 5.4rem;
}
.success h3 > a {
  color: #2e9fe2;
  text-decoration: none;
}
.success .btnBox {
  width: 45.6rem;
  height: 4.4rem;
  margin: 0 auto;
}
.success .btnBox a {
  color: #fff;
  font-size: 2rem;
  height: 4.4rem;
  display: block;
  float: left;
}
.success .btnBox button {
  width: 22rem;
  height: 4.4rem;
  background: #f4675d;
  border: 1px solid #f4675d;
  border-radius: 4px;
}
.success .btnBox a:first-child {
  color: #f4675d;
  margin-right: 1.6rem;
}
.success .btnBox a:first-child button {
  background: #fff;
}
/*这段是找回密码单独所用,注册的已经改版 start*/
.forgetPassword .u_input_col3BottomBorder {
  overflow: hidden;
  position: relative;
  left: 20px;
}
.forgetPassword .puzz_picture_box {
  width: 317px;
  height: 232px;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  left: 40px;
  top: 18px;
  display: none;
  z-index: 99;
}
.forgetPassword .puzz_picture_box .puzz_title {
  font-size: 16px;
  font-family: "微软雅黑";
  text-align: center;
  margin-top: 17px;
}
.forgetPassword .puzz_picture_box .question_container .question_pic {
  width: 225px;
  height: 62px;
  background: #f3f3f3;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 22px;
  float: left;
}
.forgetPassword .puzz_picture_box .question_container .change_puzz {
  font-size: 12px;
  color: #ccc;
  float: right;
  margin-right: 24px;
  margin-top: 40px;
}
.forgetPassword .puzz_picture_box .puzz_intro {
  font-size: 12px;
  color: #8e8e8e;
  text-align: center;
  margin: 20px 0;
}
.forgetPassword .puzz_picture_box .answer_puzz {
  width: 276px;
  height: 48px;
  background: #f3f3f3;
  margin: 0px auto;
  border-radius: 10px;
  position: relative;
}
.forgetPassword .puzz_picture_box .answer_puzz ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 276px;
  height: 48px;
  margin-left: 0;
}
.forgetPassword .puzz_picture_box .answer_puzz li {
  float: left;
  width: 46px;
  height: 48px;
  margin: 0;
  padding-right: 0;
}
.forgetPassword .puzz_picture_box .answer_puzz li.isMoved {
  background: rgba(190, 190, 190, 0.6);
}
.forgetPassword .puzz_picture_box .arrow_container {
  width: 276px;
  position: absolute;
  bottom: 0;
  left: 15px;
}
.forgetPassword .puzz_picture_box .arrow_container .puzz_arrow {
  width: 16px;
  height: 10px;
  position: absolute;
  left: 0px;
  bottom: 0;
  background: url("../images/chanpin_pic_bg_03.png");
}
.forgetPassword .find_picture_box {
  left: 37%;
  top: 80px;
}
.forgetPassword .slide_bg {
  width: 290px;
  height: 6px;
  position: relative;
  border-radius: 50px;
  background: #eaeaea;
  margin-left: 57px;
  margin-top: 19px;
  margin-bottom: 19px;
  font-size: 14px;
  font-family: "微软雅黑";
  line-height: 45px;
  text-align: center;
  color: #a2a2a2;
  float: left;
  z-index: 99;
}
.forgetPassword .slide_block {
  width: 21px;
  height: 21px;
  background: url("../images/ProgressPoint.png");
  position: absolute;
  left: 0;
  bottom: -8px;
  cursor: move;
  background: #fff;
  border: 3px solid #2e9fe2;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 6px #2e9fe2;
          box-shadow: 0px 0px 6px #2e9fe2;
}
.forgetPassword .slide_isPass {
  width: 10px;
  height: 14px;
  float: right;
  /*background: url("../images/passLock_03.jpg");*/
  font-size: 18px;
  background-position: -24px 0;
  color: #e4e4e4;
}
.forgetPassword .slide_isPass.open {
  background-position: -14px 0;
  color: #4dae26;
}
.forgetPassword .slide_isPass.error {
  color: #ff4c4c;
}
.forgetPassword .forget_ispass {
  position: absolute;
  right: 2px;
  bottom: 18px;
}
.slide_box {
  width: 0%;
  height: 100%;
  background: #2e9fe2;
  border-radius: 30px 0 0 30px;
}
/*这段是找回密码单独所用,注册的已经改版 end*/
.set .phoneNumber .boxWidthDiv input {
  text-indent: 29px;
}
.set .phoneNumber .boxWidthDiv img {
  position: absolute;
  top: 14px;
  left: 10px;
  width: 14px;
  height: 19px;
  display: block;
}
/*设置新密码加图标*/
@media (max-width: 768px) {
  .forgetPassword .find_picture_box {
    top: 40px;
  }
  .forgetPassword .headUl li {
    width: 33.33%;
    margin-right: 0;
  }
  .forgetPassword .headUl li:after {
    display: block;
    bottom: 35px;
    left: 185px;
  }
  .forgetPassword .headUl li span {
    font-size: 14px;
  }
  .forgetPassword .headUl li i {
    width: 72px;
    height: 72px;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .boxWidth .width414,
  .boxWidth .windth308 {
    width: 100%;
  }
  .boxWidthDiv {
    margin: 0;
  }
  .passwordBox {
    margin: 1rem 0;
    padding-bottom: 2rem;
  }
  .forgetPassword {
    padding: 10px;
    width: 100%;
    margin-top: 0;
  }
  .forgetPassword .headUl {
    margin: 16px 0;
  }
  .forgetPassword .headUl li {
    width: 33.33%;
    margin-right: 0;
  }
  .forgetPassword .headUl li:after {
    display: none;
  }
  .forgetPassword .headUl li span {
    font-size: 14px;
  }
  .forgetPassword .headUl li i {
    width: 72px;
    height: 72px;
    margin: 0 auto;
  }
  .forgetPassword .u_input_col3BottomBorder {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  .forgetPassword .slide_bg {
    width: 270px;
    left: 50%;
    margin-left: -135px;
  }
  .forgetPassword .find_picture_box {
    height: 192px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    top: 10px;
  }
  .forgetPassword .find_picture_box .question_container .question_pic {
    margin-top: 0;
  }
  .forgetPassword .find_picture_box .puzz_intro {
    margin: 10px 0;
  }
  .forgetPassword .find_picture_box .question_container .change_puzz {
    margin-top: 24px;
  }
  .forgetPassword .puzz_picture_box .question_container .change_puzz {
    margin-right: 14px;
  }
  .boxWidth {
    margin-bottom: 0px;
  }
  .boxWidth p {
    float: none;
    text-align: left;
    font-size: 14px;
    height: 30px;
    line-height: 14px;
  }
  .boxWidth .send {
    width: 30%;
    float: right;
  }
  .Verification .boxWidth p {
    display: none;
  }
  .Verification .boxWidth:nth-child(2) {
    margin-bottom: 16px;
  }
  .Verification .boxWidth:nth-child(3) {
    margin-bottom: 0;
  }
  .Verification .boxWidth:nth-child(3) .boxWidthDiv {
    width: 66%;
  }
  .forgetPassword .boxWidth .boxWidthDiv input {
    font-size: 14px;
  }
  .next {
    margin-top: 2rem;
    display: block;
    width: 60%;
    height: 44px;
    line-height: 44px;
    margin: 0 auto;
  }
  .set .boxWidth p {
    display: none;
  }
  /*找回成功*/
  .success h3 {
    margin-bottom: 3.2rem;
  }
  .success h3 > a {
    color: #2e9fe2;
    text-decoration: none;
  }
  .success .successBox {
    margin: 1rem 0 2rem;
  }
  .success .btnBox {
    width: auto;
    height: auto;
  }
  .success .btnBox button {
    width: 60%;
    height: 44px;
  }
  .success .btnBox a {
    float: none;
    font-size: 1.8rem;
  }
  .success .btnBox a:first-child {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.loginPsw[data-type=norm] {
  width: 350px;
}
.loginPsw[data-type=norm] p {
  width: 119px;
  float: left;
  height: 100%;
  line-height: 32px;
  font-size: 16px;
}
.loginPsw[data-type=norm] input[type=text],
.loginPsw[data-type=norm] input[type=password] {
  width: 210px;
  float: left;
}
.success .statusNopswBtn {
  margin: 2rem auto;
}
.success .statusNopswBtn .me-u-btn {
  background: #f4675d;
  width: 35%;
  padding: 11px 16px;
  margin-left: 25px;
  font-size: 16px;
}
.success .statusNopswBtn .me-u-btn[data-color="red"] {
  background: #f4675d;
  float: left;
  margin-left: 13rem;
}
.success .statusNopswBtn a.gotoIndex {
  color: #333;
  margin-left: 1.5rem;
  line-height: 33px;
  font-size: 14px;
}
