.paySuccessCentent {
  width: 1200px;
  padding: 65px 165px 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f4f4f4;
  background-color: #fff;
  margin: 30px auto;
  overflow: hidden;
}
.paySuccessCentent .paySuccessTitle {
  width: 220px;
  height: 160px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}
.paySuccessCentent .paySuccessTitle img {
  display: block;
}
.paySuccessCentent .paySuccessTitle .spin {
  position: absolute;
  right: 7px;
  bottom: 29px;
}
.paySuccessCentent .payText {
  color: #666;
  font-size: 1.8rem;
  text-align: center;
  width: 100%;
  height: 65px;
}
.paySuccessCentent table {
  width: 41%;
  margin: 0 auto;
  float: left;
}
.paySuccessCentent table td {
  width: 100%;
  height: 5rem;
  font-size: 1.6rem;
  color: #666666;
}
.paySuccessCentent table td span {
  color: #333;
  line-height: 20px;
}
.paySuccessCentent .firstTable {
  margin-left: 17%;
}
.paySuccessCentent .failTable {
  width: 100%;
}
.paySuccessCentent .paySuccessBtn {
  width: 540px;
  height: 60px;
  margin: 0 auto;
}
.paySuccessCentent .paySuccessBtn a {
  padding: 12px 67px;
  font-size: 2rem;
}
.paySuccessCentent .paySuccessBtn a[data-type="minor"] {
  margin-top: 60px;
  color: #f4675d;
  border-color: #f4675d;
  margin-right: 95px;
}
@media (max-width: 1200px) {
  .paySuccessCentent {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .paySuccessCentent {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .paySuccessCentent {
    width: 100%;
    padding: 0;
  }
  .paySuccessCentent .paySuccessTitle {
    padding: 1rem 0 0;
    height: 13.8rem;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .paySuccessCentent .paySuccessTitle img {
    position: static;
    margin: 0 auto;
    display: block;
  }
  .paySuccessCentent .paySuccessTitle .spin {
    bottom: 23px;
  }
  .paySuccessCentent table {
    width: 100%;
  }
  .paySuccessCentent table td {
    width: 100%;
    padding-left: 3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .paySuccessCentent .firstTable {
    margin-left: 0;
  }
  .paySuccessCentent .paySuccessBtn {
    float: left;
    width: 100%;
    height: 7rem;
    margin: 2rem auto;
  }
  .paySuccessCentent .paySuccessBtn a[data-type=minor] {
    margin: 0 auto;
  }
  .paySuccessCentent .paySuccessBtn .me-u-btn {
    display: block;
    width: 85%;
    margin: 15px auto;
  }
}
